@import './vars.scss';
@import './typography.scss';

body {
  background: var(--default-background, black);
  color: var(--default-text, white);

  margin: 0;
  padding: 0;
}

* {
  outline-color: var(--primary-color);
  *::selection {
    background: var(--primary-color);
    color: var(--default-text);
  }
}

a {
  // color: var(--link-default, blue);
  color: white;
  text-decoration: none;
}

a.header-anchor {
  display: none;
}

/* Transition Animations */
.fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
