body {
  font-family: 'Open Sans', sans-serif;

  font-size: 16px;
  letter-spacing: .02rem;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'OpenSans', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
