:root {
  --default-text: rgba(255,255,255,.75);
  --default-background: #111;

  --primary-color: #d30000;
  --primary-color-dark: #b30000;
  --grey-500: #2a2a2a;
  --grey-400: #555;

  --link-default: #5a6cf1;

  --header-height: 4rem;
  --footer-height: 4rem;

  --transition-default: 240ms ease-in-out;
  --transition-quick: 120ms ease-in-out;
}