<!-- Manifest and metadata -->
<link rel="manifest" href="manifest.json">
<meta name="theme-color" content="#1a1a1a">
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content="{{ site.title }}" />
<meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
<meta name="msapplication-starturl" content="/index.html" />
<meta name="description" content="{{ site.description }}">

<!-- SEO Meta tags -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:image" content="{{ site.logo }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- TODO: Google Structured Data -->
